.dropdown {position:relative; overflow:visible;}
.dropdown-menu, .dropdown-html {display:none; position:absolute; top:100%; left:0; min-width:180px; max-width:280px; text-align:left; margin:0; z-index:100; background:#fff; border:1px solid #bbb; box-shadow:0 4px 12px rgba(0,0,0,.175); background-clip:padding-box;}
.dropdown-html {padding:10px; line-height:1;}
.dropdown-menu {list-style:none; padding:5px 0;}
.dropdown-menu.pull-right, .dropdown-html.pull-right {right:0; left:auto;}
.dropdown-menu .divider {height:1px; margin:9px 1px; overflow:hidden; background-color:#e5e5e5; border-bottom:1px solid #fff;}
.dropdown-menu > li {padding:0; margin:0; display:block; float:none; list-style:none; border:0;}
.dropdown-menu > li > a {display:block; padding:4px 15px; color:#333; font-weight:400; line-height:1.4em; text-decoration:none; clear:both; white-space:nowrap;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a {background-color:#3786DC; color:#fff; text-decoration:none; outline:0;}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {color:#999;}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {text-decoration:none; cursor:default; background-color:transparent; background-image:none;}
.dropdown.open > .dropdown-menu, .dropdown.open > .dropdown-html {display:block;}

.dropdown-html .form {margin-bottom:10px;}
.dropdown-html .form:last-child {margin-bottom:0;}