html, body {padding:0;margin:0}
body {font-family:arial,tahoma,sans-serif;font-size:13px;color:#000;width:100%;background-color:#fff;cursor:default}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
audio:not([controls]) {display:none;height:0}
b,strong {font-weight:700}
small{font-size:85%}
big {font-size:125%;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup {top:-.5em}
sub {bottom:-.25em}
img {max-width:100%;border:0;margin:0;padding:0}
svg:not(:root) {overflow:hidden}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin-top:5px;margin-bottom:15px}
code,kbd,pre,samp {font-family:monospace,monospace;font-size:1em}
code {padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:2px;}
pre {overflow:auto;display:block;margin:0;padding:5px 10px;font-size:13px;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #e5e5e5}
legend {border:0;padding:0}
optgroup {font-weight:700}
table {border-color:#e5e5e5;font-size:1em;line-height:1.5}
td,th {vertical-align:top;border-color:#e5e5e5}
th,table thead td {font-weight:700}
h1, h2, h3, h4, h5, h6 {display:block; line-height:1.3; margin:0; padding:0; font-size:inherit; font-weight:400}
h1 {font-size:1.9em}
h2 {font-size:1.7em}
h3 {font-size:1.5em}
h4 {font-size:1.2em}
h5 {font-size:1.1em}
h6 {font-size:1em}
blockquote {padding:15px;margin:0;background-color:#fff;border:1px solid #e5e5e5;font-style:italic;font-size:1em}
p {margin:1em 0;}
iframe,object,embed {display:block;max-width:100%;margin:0;padding:0;border:0}
a {color:#08c;text-decoration:none;cursor:pointer}
a:hover {color:#000;text-decoration:underline}
a:active {color:#DD4B39}
a:focus {outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
button,form,input,select,textarea {font:inherit;color:inherit}
form {vertical-align:middle}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled] {cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0}
input {line-height:normal}
input[type="text"],input[type="number"],input[type="tel"],input[type="date"],input[type="email"],input[type="password"],select,textarea {vertical-align:middle;border-width:1px;border-style:solid;border-color:#b5b5b5 #ccc #ccc;line-height:1}
textarea {overflow:auto;resize:vertical}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;line-height:1}

::-webkit-input-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}

a.invert {color:#222;}
a.invert:hover {color:#08c;}

.reset {margin:0; padding:0; border:0; outline:none; vertical-align:baseline;}
table.reset {border-collapse:collapse; border-spacing:0; line-height:1; width:100%;}
ol.reset, ul.reset {list-style:none;}
blockquote.reset, q.reset {quotes:none;}
blockquote.reset:before, blockquote.reset:after, q.reset:before, q.reset:after {content:''; content:none;}
h1.reset, h2.reset, h3.reset, h4.reset, h5.reset, h6.reset {font-size:inherit; font-weight:400;}
dl.reset > dt, dl.reset > dd {margin:0; padding:0;}

.readly, .unreset {line-height:1.5;}

.clearfix:after,
.form-group .form:after,
.nav:after,
.btn-group:after,
.list-inline:after,
.unreset:after {content:" "; visibility:hidden; display:block; height:0; clear:both; zoom:1;}
.clear {clear:both;}

.btn,
.form input, .form textarea, .form select,
.form-group > .form > label,
.grid-col,
.img-border,
.carousel-list,
.label,
.row,
.col, [class^="col-"], [class*=" col-"] {-ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

.required:after {content:"*"; color:red; padding-left:5px;}
.cptz {text-transform:capitalize;}
.upcs {text-transform:uppercase;}
.lwcs {text-transform:lowercase;}
.elps {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.dotd {text-decoration:none !important; border-bottom:1px dotted;}
.dotd:hover {text-decoration:none !important; border-bottom:1px solid;}
.unln, .unln:hover, .unln:active {text-decoration:none !important; border-bottom:1px solid;}

.small {font-size:85%;}
.big {font-size:125%;}

.h1 {font-size:250%;}
.h2 {font-size:200%;}
.h3 {font-size:175%;}
.h4 {font-size:150%;}
.h5 {font-size:125%;}

.pull-left {float:left !important;}
.pull-right {float:right !important;}
.pull-none {float:none !important;}

.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-center {text-align:center !important;}
.text-justify {text-align:justify !important;}

.mt-0 {margin-top:0 !important;} .mb-0 {margin-bottom:0 !important;} .mr-0 {margin-right:0 !important;} .ml-0 {margin-left:0 !important;}
.mt-5 {margin-top:5px !important;} .mb-5 {margin-bottom:5px !important;} .mr-5 {margin-right:5px !important;} .ml-5 {margin-left:5px !important;}
.mt-10 {margin-top:10px !important;} .mb-10 {margin-bottom:10px !important;} .mr-10 {margin-right:10px !important;} .ml-10 {margin-left:10px !important;}
.mt-15 {margin-top:15px !important;} .mb-15 {margin-bottom:15px !important;} .mr-15 {margin-right:15px !important;} .ml-15 {margin-left:15px !important;}
.mt-20 {margin-top:20px !important;} .mb-20 {margin-bottom:20px !important;} .mr-20 {margin-right:20px !important;} .ml-20 {margin-left:20px !important;}
.mt-30 {margin-top:30px !important;} .mb-30 {margin-bottom:30px !important;} .mr-30 {margin-right:30px !important;} .ml-30 {margin-left:30px !important;}

.form {display:block; margin-bottom:15px; position:relative;}
.form .form-line {display:inline-block; vertical-align:middle; margin-right:5px;}
.form > label, .form .form-line > label {display:block; font-weight:700; margin-bottom:3px;}
.form input[type="text"], .form input[type="number"], .form input[type="tel"], .form input[type="date"], .form input[type="email"], .form input[type="password"], .form textarea, .form select {display:block; width:100%; height:2.4615384em; line-height:2.3076923; font-size:1em; margin:0; padding:0 8px; border-radius:2px; box-shadow:0 1px 3px rgba(0,0,0,.1) inset; transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.form textarea {height:auto; line-height:1.45; padding:8px;}
.form input[type="text"]:hover, .form input[type="number"]:hover, .form input[type="tel"]:hover, .form input[type="date"]:hover, .form input[type="email"]:hover, .form input[type="password"]:hover, .form textarea:hover, .form select:hover {border-color:#aaa;}
.form select:hover {cursor:pointer;}
.form input[type="text"]:focus, .form input[type="number"]:focus, .form input[type="tel"]:focus, .form input[type="date"]:focus, .form input[type="email"]:focus, .form input[type="password"]:focus, .form textarea:focus, .form select:focus, .form input.outline, .form textarea.outline, .form select.outline, .form input.outline:hover, .form textarea.outline:hover, .form select.outline:hover {border-color:#5897FB; outline:0; box-shadow:0 0 3px #5897FB;}
.form label.checkbox, .form label.radio {position:relative; display:inline-block; font-weight:400; margin-bottom:0; cursor:pointer; padding-left:20px;}
.form label.checkbox:hover, .form label.radio:hover {text-decoration:none;}
.form label.checkbox input[type="checkbox"], .form label.radio input[type="radio"] {position:absolute; width:auto; line-height:1; margin:1px 0 0 -20px;}

.form_info, .form__info {display:block; color:#888; font-size:85%; font-weight:400; font-family:tahoma,arial,sans-serif; margin:2px 0; line-height:1.2;}

.form-captcha #captcha {display:inline-block; margin-right:5px; vertical-align:top; width:100px; height:48px; overflow:hidden; background:url('/static/img/process_bar.gif') center no-repeat;}
.form-captcha #captcha img {display:block; vertical-align:top;}
.form-captcha input[type="text"], .form-captcha input[type="number"], .form-captcha input[type="tel"] {display:inline-block; text-align:center; padding:10px; vertical-align:top; width:100px; height:48px; line-height:28px; font-size:17px; margin:0;}

.form-group > .form {padding-left:200px;}
.form-group > .form > label {float:left; width:200px; line-height:1.4; margin:0; padding:0; margin-left:-200px; padding-right:15px;}

.form .input-group {display:flex; flex-wrap:nowrap; width:100%;}
.form .input-group > .btn, .form .input-group > input, .form .input-group > select {display:inline-block; vertical-align:top;}
.form .input-group > .btn, .form .input-group > input, .form .input-group > select {border-radius:0;}
.form .input-group > *:first-child {border-top-left-radius:2px; border-bottom-left-radius:2px;}
.form .input-group > *:last-child {border-top-right-radius:2px; border-bottom-right-radius:2px;}

.table {display:table; border-collapse:collapse; border-spacing:0; width:100%; line-height:100%;}
.table tr th, .table tr td {padding:8px; vertical-align:top; line-height:1.4em;}
.table tr th {font-weight:700; text-align:left; border-bottom:2px solid #e5e5e5 !important;}
.table tr td {border-top:1px solid #e5e5e5;}

.table-compact tr th, .table-compact tr td {padding:4px;}

.table-row, .table-cell {margin:0; padding:0; list-style:none;}
.table-row {display:table-row;}
.table-cell {display:table-cell;}

.table-middle > tbody > tr > th, .table-middle > tbody > tr > td {vertical-align:middle;}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th, .table-striped .table-row:nth-child(even) .table-cell {background-color:#f5f5f5;}
.table-border > tbody > tr > th, .table-border > tbody > tr > td, .table-border .table-cell,
.table-border > thead > tr > th, .table-border > thead > tr > td, .table-border .table-cell {border:1px solid #e5e5e5;}
.table-hover > tbody > tr:hover > td, .table-hover .table-row:hover .table-cell {background-color:#f3f3f3;}

.table > tbody > tr.active > td, .table > tbody > tr > td.active, .table > tbody > tr.active > th, .table > tbody > tr > th.active,
.table > thead > tr.active > th, .table > thead > tr > th.active {background-color:#f5f5f5}
.table > tbody > tr.success > td, .table > tbody > tr > td.success, .table > tbody > tr.success > th, .table > tbody > tr > th.success,
.table > thead > tr.success > th, .table > thead > tr > th.success {background-color:#dff0d8}
.table > tbody > tr.warning > td, .table > tbody > tr > td.warning, .table > tbody > tr.warning > th, .table > tbody > tr > th.warning {background-color:#ffc}
.table > tbody > tr.danger > td, .table > tbody > tr > td.danger, .table > tbody > tr.danger > th, .table > tbody > tr > th.danger {background-color:#f2dede}
.table > tbody > tr.info > td, .table > tbody > tr > td.info, .table > tbody > tr.info > th, .table > tbody > tr > th.info {background-color:#d9edf7}

.label {display:inline; padding:.1em .6em; font-size:85%; font-weight:400; line-height:1; color:#fff; background-color:#999; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:.25em;}
.label-primary {background-color:#428bca;}
.label-success {background-color:#5cb85c;}
.label-info {background-color:#08c;}
.label-warning {background-color:#f0ad4e;}
.label-danger {background-color:#d9534f;}
.label-light {background-color:#bbb;}

.badge {display:inline-block; min-width:10px; padding:3px 7px; font-size:.9em; font-weight:700; color:#fff; line-height:1; vertical-align:baseline; white-space:nowrap; text-align:center; background-color:#999; border-radius:10px;}
.btn .badge {position:relative; top:-1px;}

.list-caption, .list-inline {list-style:none; margin:0; padding:0}
.list-caption > li {margin-bottom:5px;}
.list-inline > li {float:left; margin-right:15px;}
.list-inline > li.pull-right {margin-left:15px; margin-right:0;}

ul.list-styled, .list-unstyled ul {list-style-type:disc;}
ol.list-styled, .list-unstyled ol {list-style-type:decimal;}
.list-styled, .list-unstyled ul, .list-unstyled ol {margin:0; padding-left:40px;}
.list-styled li, .list-unstyled ul li, .list-unstyled ol li {display:list-item;}
.list-unstyled {padding-left:0; list-style:none;}

.pagination {margin:30px 0; padding:0; text-align:center; color:#000;}
.pagination ul, .pagination li {list-style:none; padding:0; margin:0;}
ul.pagination-info {display:block; margin:5px 0;}
.pagination-info > li {display:inline-block; vertical-align:top; margin:1px 5px; color:#888; font-size:11px; text-transform:uppercase;}
ul.pagination-list {display:table; table-layout:fixed; width:100%; margin:5px 0;}
.pagination-list > li {display:table-cell; vertical-align:top;}
.pagination-list > li > a, .pagination-list > li > span {display:block; padding:1em 2px; height:1em; line-height:1; font-weight:700; text-decoration:none;}
.pagination-list > li.delimiter > span {border-color:transparent; padding-left:.6em; padding-right:.6em;}
.pagination-list > li.active > span, .pagination-list > li > a:hover {text-decoration:none;}

.nav {list-style:none; margin:0; padding:0;}
.nav > li {list-style:none; margin:0; padding:0; float:left; display:block; line-height:100%;}
.nav > li > a {display:block; text-decoration:none; position:relative;}
.nav > li > a:hover {cursor:pointer; cursor:hand; text-decoration:none;}
.nav > li.nav-active > a, .nav > li.nav-active > a:hover, .nav > li.ui-tabs-active > a {cursor:default;}

.nav-justified {width:100%;}
.nav-justified:before {content:" "; display:table;}
.nav-justified > li {float:none; display:table-cell; width:1%;}
.nav-justified > li > a {text-align:center;}

.nav-pills > li {margin-right:5px; margin-bottom:5px;}
.nav-pills > li > a {padding:10px 15px; background:#eee; border-radius:2px;}
.nav-pills > li > a:hover, .nav-pills > li > a:active {background:#e5e5e5;}
.nav-pills > li.nav-active > a, .nav-pills > li.nav-active > a:hover, .nav-pills > li.ui-tabs-active > a {background:#428BCA; color:#fff;}

.nav-stacked > li {float:none; border-top:1px solid #e5e5e5;}
.nav-stacked > li > a {padding:10px 5px;}

.nav-tabs, .nav-tabs.ui-helper-reset {border-bottom:2px solid #ddd; margin-bottom:20px;}
.nav-tabs > li {margin-right:5px; margin-bottom:0;}
.nav-tabs > li > a {padding:10px 15px; border-radius:4px 4px 0 0; border:1px solid transparent; border-bottom:0;}
.nav-tabs > li > a:hover {background:#eee; border-color:#eee;}
.nav-tabs > li > a:focus {outline:none;}
.nav-tabs > li.nav-active > a, .nav-tabs > li.nav-active > a:hover, .nav-tabs > li.ui-tabs-active > a {background:rgba(251,251,251,.5); color:#333; border-color:#d5d5d5; border-bottom-color:transparent;}
.nav-tabs-block {margin-top:-20px; margin-bottom:20px; padding:15px; border:1px solid #ddd; border-top:0;}

.nav-bar {background:#f5f5f5;}
.nav-bar > li {border-right:1px solid #ddd;}
.nav-bar > li.pull-right {border-right:0; border-left:1px solid #ddd;}
.nav-bar > li > a {padding:15px; color:#444;}
.nav-bar > li > a:hover {color:#000;}
.nav-bar > li > a:focus {outline:none;}
.nav-bar > li.nav-active > a, .nav-bar > li.nav-active > a:hover, .nav-bar > li.ui-tabs-active > a {background-color:#e5e5e5;}

.nav-steps > li {position:relative;}
.nav-steps > li > a {font-size:1em; height:2em; line-height:2em; margin-right:1.5em; padding:0 10px; color:#333; background:#eee;}
.nav-steps > li > a:focus {outline:none;}
.nav-steps > li:last-child > a {margin-right:1em;}
.nav-steps > li > a:before, .nav-steps > li > a:after {content:""; position:absolute; top:0; width:0; height:0; border-width:1em 0 1em 1em; border-style:solid; border-color:transparent;}
.nav-steps > li > a:before {border-color:#eee transparent; left:-1em;}
.nav-steps > li > a:after {border-color:transparent #eee; right:-1em;}
.nav-steps > li:first-child > a:before {display:none;}
.nav-steps > li.nav-active > a, .nav-steps > li.ui-tabs-active > a {background:#3786DC; color:#fff;}
.nav-steps > li.nav-active > a:before, .nav-steps > li.ui-tabs-active > a:before {border-color:#3786DC transparent;}
.nav-steps > li.nav-active > a:after, .nav-steps > li.ui-tabs-active > a:after {border-color:transparent #3786DC;}
.nav-steps > li.nav-complete > a {background:#ddd; color:#888;}
.nav-steps > li.nav-complete > a:before {border-color:#ddd transparent;}
.nav-steps > li.nav-complete > a:after {border-color:transparent #ddd;}

.btn {display:inline-block; vertical-align:top; position:relative; margin:0; text-decoration:none; text-align:center; cursor:pointer; font-weight:400; border-radius:2px; color:#333; border:1px solid rgba(0,0,0,.2); background-color:#f9f9f9; white-space:nowrap;}
.btn:hover {color:#000; border-color:rgba(0,0,0,.3); background-color:#fefefe; text-decoration:none;}
.btn:active {box-shadow:0 3px 5px rgba(0,0,0,.15) inset; outline:none;}

.btn {font-size:1em; height:2.4615384em; line-height:2.3076923; padding:0 10px;}
.btn-lg {font-size:1.4em; height:2.55em; line-height:2.44; padding:0 15px;}
.btn-sm, .btn-mm {font-size:1em; height:2em; line-height:1.84615384; padding:0 7px;}
.btn-xs {font-size:.85em; height:2.1818181em; line-height:2; padding:0 5px;}
.btn-xxs {font-size:.85em; height:1.81818181em; line-height:1.6363636363; padding:0 5px;}

.btn-disabled, .btn-readonly {cursor:default; pointer-events:none; -webkit-box-shadow:none; box-shadow:none;}
.btn-disabled {opacity:.7; filter:alpha(opacity=70);}
.btn-block {display:block; width:100%;}

.btn-primary {color:#fff; background-color:#3786DC;}
.btn-primary:hover {color:#fff; background-color:#3E8EE5;}

.btn-success {color:#fff; background-color:#5cb85c;}
.btn-success:hover {color:#fff; background-color:#65C265;}

.btn-danger {color:#fff; background-color:#d9534f;}
.btn-danger:hover {color:#fff; background-color:#df5a56;}

.btn-check input {display:none;}
.btn-check input:checked + label.btn {background:#def; border-color:#8DBBE0; color:#222; box-shadow:0 1px 1px rgba(0,0,0,.2) inset;}
.btn-check label.icon-check:before {content:'\e918'; cursor:pointer;}
.btn-check input:checked + label.icon-check:before {content:'\e81c';}

.btn-group {position:relative; display:inline-block; vertical-align:middle;}
.btn-group > .btn, .btn-group > .btn-check {float:left;}
.btn-group > .btn, .btn-group > .btn-check .btn {border-radius:0;}
.btn-group > .btn:first-child, .btn-group > .btn-check:first-child .btn {border-top-left-radius:2px; border-bottom-left-radius:2px;}
.btn-group > .btn:last-child, .btn-group > .btn-check:last-child .btn {border-top-right-radius:2px; border-bottom-right-radius:2px;}

.alert, [class^="alert-"], [class*=" alert-"] {padding:15px; margin-bottom:15px; border:1px solid #e5e5e5;}
.alert-danger {background:#f2dede; color:#a94442; border-color:#ebccd1;}
.alert-warning {background:#fcf8e3; color:#8a6d3b; border-color:#faebcc;}
.alert-info {background:#d9edf7; color:#31708f; border-color:#bce8f1;}
.alert-success {background:#dff0d8; color:#3c763d; border-color:#d6e9c6;}

.rows, .row {padding:0; margin:0; display:block;}
.row {margin-left:-10px; margin-right:-10px;}
.rows::after, .row::after {display:table; clear:both; content:"";}
.col, [class^="col-"], [class*=" col-"] {position:relative; float:left; white-space:normal; width:100%;}
.row > .col, .row > [class^="col-"], .row > [class*=" col-"] {padding-left:10px; padding-right:10px;}
.col-2 {width:50%;}
.col-3 {width:33.3332%;}
.col-4 {width:25%;}
.col-5 {width:20%;}
.col-6 {width:16.6665%;}
.col-7 {width:14.28571%;}
.col-8 {width:12.5%;}
.col-9 {width:11.1%;}
.col-10 {width:10%;}
.col-11 {width:9.09%;}
.col-12 {width:8.33%}

.grid {width:100%; padding:0; margin:0; margin-bottom:20px; display:block;}
.grid.grid-flex {display:flex; flex-wrap:wrap;}
.grid.grid-border .grid-col:after {content:" "; position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid #e5e5e5; margin-top:-1px; margin-left:-1px; z-index:0;}
.grid-inner {position:relative; margin:0 10px; margin-bottom:20px;}
.grid.grid-border .grid-inner {margin:0; padding:10px; z-index:1;}
.grid-col {position:relative; display:inline-block; vertical-align:top; white-space:normal;}
.grid-col {width:50%;}
.grid-1 .grid-col {width:100%;}
.grid-3 .grid-col {width:33.3332%;}
.grid-4 .grid-col {width:25%;}
.grid-5 .grid-col {width:20%;}
.grid-6 .grid-col {width:16.6665%;}
.grid-7 .grid-col {width:14.28571%;}
.grid-8 .grid-col {width:12.5%;}
.grid-9 .grid-col {width:11.1%;}
.grid-10 .grid-col {width:10%;}
.grid-11 .grid-col {width:9.09%;}
.grid-12 .grid-col {width:8.33%}

.img {position:relative; overflow:hidden; vertical-align:top; display:inline-block; width:100%; height:100%; text-decoration:none; text-align:center;}
.img.img-border {border:1px solid #e5e5e5;}
.img.img-maxw {width:100% !important; max-width:100%;}
.img.img-maxh {height:auto !important; max-height:100%;}
.img.img-cover, .img.img-contain {background-repeat:no-repeat; background-position:center center; background-size:cover;}
.img.img-contain {background-position:center top; background-size:contain;}
.img > img {display:inline-block; max-width:100%; vertical-align:top; margin:0; padding:0;}
.img.img-center > img, .img.img-top > img, .img.img-bottom > img {max-height:100%; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.img.img-top > img {bottom:auto;}
.img.img-bottom > img {top:auto;}
.img.img-cover > img {max-width:none; max-height:none; width:100%; height:100%; object-fit:cover;}
.img-20 {width:20px; height:20px;}
.img-30 {width:30px; height:30px;}
.img-40 {width:40px; height:40px;}
.img-60 {width:60px; height:60px;}
.img-80 {width:80px; height:80px;}
.img-100 {width:100px; height:100px;}
.img-150 {width:150px; height:150px;}
.img-200 {width:200px; height:200px;}
.img-250 {width:250px; height:250px;}
.img-300 {width:300px; height:300px;}

.media, .media-body {overflow:hidden; zoom:1;}
.media-head {margin:0 0 5px;}
.media > .pull-left {margin-right:15px;}
.media > .pull-right {margin-left:15px;}

.breadcrumb {padding:0; margin:0; list-style:none; margin-bottom:20px;}
.breadcrumb > li {display:inline;}
.breadcrumb > .active, .breadcrumb > .active a {color:#888;}
.breadcrumb > li + li:before {content:"/\00a0"; padding:0 5px; color:#ccc;}

.color-success {color:#4ea54e;}
.color-warning {color:#e29a34;}
.color-danger {color:#d9534f;}
.color-light {color:#888;}

.nowrap, .nowrap-scroll {overflow:hidden; display:block; position:relative; width:100%; margin:0; padding:0; list-style:none; white-space:nowrap;}
.nowrap-scroll {overflow-x:auto;}

.noselect {user-select:none;}

.carousel {position:relative; overflow:hidden;}
.carousel-list {display:block; position:relative; width:100%; margin:0; padding:0; list-style:none; white-space:nowrap;}
.carousel-list .item {display:inline-block; position:relative; min-width:auto; white-space:normal; outline:none}

.process, .process:hover, .process:active {text-decoration:none; pointer-events:none; opacity:.8; cursor:progress; background-size:20px 20px !important;
background-image:-webkit-linear-gradient(135deg,rgba(0,0,0,.25) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.25) 50%,rgba(0,0,0,.25) 75%,transparent 75%,transparent) !important;
background-image:-moz-linear-gradient(135deg,rgba(0,0,0,.25) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.25) 50%,rgba(0,0,0,.25) 75%,transparent 75%,transparent) !important;
background-image:-ms-linear-gradient(135deg,rgba(0,0,0,.25) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.25) 50%,rgba(0,0,0,.25) 75%,transparent 75%,transparent) !important;
background-image:-o-linear-gradient(135deg,rgba(0,0,0,.25) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.25) 50%,rgba(0,0,0,.25) 75%,transparent 75%,transparent) !important;
background-image:linear-gradient(135deg,rgba(0,0,0,.25) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.25) 50%,rgba(0,0,0,.25) 75%,transparent 75%,transparent) !important;
-webkit-animation:animate-stripes .8s linear infinite;
-moz-animation:animate-stripes .8s linear infinite;}
@-webkit-keyframes animate-stripes { 0% {background-position:0 0;} 100% {background-position:40px 0;} }
@-moz-keyframes animate-stripes { 0% {background-position:0 0;} 100% {background-position:40px 0;} }

.cur.RUB {font-family:'Rub',arial,sans-serif; text-transform:lowercase;}